body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 2em;
}

.post {
    margin-top: 4em;
}

.tasksOff {
    color: red;
}

.tasksOn {
    color: green;
}